# Python cache files
__pycache__/
source/__pycache__/

# Python virtual environments
.venv/
.venv310/
.venv313/

# idea Folder
.idea/

# LaTeX Folder
latex/
latex template/

# Temp Folder
temp/

# Junk Files
.DS_Store
note.txt
todo.txt